* {
  font-size: 62.5%;
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

.button-Base {
  @apply mr-4 w-32 h-12 rounded font-sans font-bold text-base;
  
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  &.mod--submit {
    @apply text-white bg-teal;
  }

  &.mod--reset {
    @apply text-black bg-grey-light;
  }

  &.mod--seriousAction {
    @apply text-white bg-red;
  }
}